 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 #root{
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .App{
     width: 800px;
 }

 .post{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 15px;
     margin-top: 15px;
     border: 2px solid teal;
     border-radius: 5px;
 }

 .post__btns{
   display: flex;
 }

 .post__btns__item{
   margin-right: 10px;
 }

 .remove-btn {
    margin-right: 0.5rem;
  }
  
  .post-enter {
    transform:  translateX(350px);
  }

  .post-enter-active {
    transform:  translateX(0px);
    transition: all 500ms ease-in;
  }

  .post-exit {
    opacity: 1;
  }

  .post-exit-active {
    transform:  translateX(-350px);
    transition: all 500ms ease-in;
  }

  .page__wrapper{
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
  }

  .page{
    font-size: 1.4rem;
    padding: 5px;
    margin-right: 7px;
    border: 2px solid teal;
    border-radius: 5px;
    cursor: pointer;
  }

  .page:last-child{
    margin-right: 0;
  }

  .page__current{
    font-weight: bold;
    border:2px solid yellowgreen;
  }

  .navbar{
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background:rgb(218, 212, 212);
  }

  .navbar__links{
    margin-left: auto;
  }

  .navbar__links a{
    font-size: 1.5rem;
    margin-right: 15px;
    padding: 10px;
    color: teal;
    text-decoration: none;
    border: 2px solid teal;
    border-radius: 5px;
    cursor: pointer;
  }

  .navbar__links a:hover{
    color: gray;
    border-color: gray;
  }

  .navbar__links a:active{
    color: yellowgreen;
    border-color: yellowgreen;
  }

  .about__body{
    display: flex;
    justify-content: center;
  }

  .about__title{
    padding: 20px;
    margin-top: 100px;
    font-size: 3rem;
    color: teal;
    border: 5px solid teal;
    border-radius: 5px;
  }

  .coment__body{
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 100px 30px 30px 30px;
    padding: 30px;
    border: 6px solid teal;
    border-radius: 5px;
  }

  .coment__title{
    font-size: 50px;
    padding-bottom: 20px;
  }

  .comment__title__small{
    font-size: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .public__form{
    margin-top: 70px;
    padding: 30px;
    border: 5px solid teal;
    border-radius: 5px;
  }

  .public__form h1{
    margin-bottom: 10px;
    color: teal;
  }

  

