.myBtn{
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid teal;
    border-radius: 5px;
    cursor: pointer;
}

.myBtn:hover{
    color: gray;
    border-color: gray;
  }

  .myBtn:active{
    color: yellowgreen;
    border-color: yellowgreen;
  }